<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
</head>
<style>
    body{
        font-family: Arial;
    }

    header{
        background-color: grey;
        padding: 30px;
        text-align: center;
        font-size: 40px;
        color: white;
    }

    nav{
        float: left;
        width: 24%;
        height: 250px;
        background: yellow;
        padding: 20px;
        
    }

    nav ul li a{
        color: black;
        text-decoration: none;
    }

    article{
        float: left;
        padding: 20px;
        width: 70%;
        height: 310px;
        background-color: purple;
        height: 300px;
        color: white;

    }

    footer{
        background-color: wheat;
        padding: 30px;
        text-align: center;
        color: black;
    }
</style>
<body>
    <header>
        <h2>Header of the Page</h2>/h2>
    </header>

    <nav>
        <ul>
            <li><a href="#">Link-01</a></li>
            <li><a href="#">Link-02</a></li>
            <li><a href="#">Link-03</a></li>
        </ul>
    </nav>

    <article>
        <h1>Page content</h1>
    </article>

    <footer>
        <h1>Page Footer</h1>
    </footer>
</body>
</html>
